/* LoginStyles.module.css */
.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #9c27b0 30%, #c768d7 90%);
  overflow: hidden;
}

.loginBox {
  padding: 20px;
  background-color: #333;
  color: white;
  text-align: center;
}

.submitButton {
  background-color: orange;
  margin-top: 20px;
  color: white;
}

h2 {
  margin-bottom: 20px;
}
.errorText{
  color: red;
  font-size: small;
}
/* Add more styles as needed */
