:root {
  --font: 'Open Sans';
  --black: rgba(51, 51, 51, 1);
  --white: rgba(255, 255, 255);
  --dust: rgba(242, 242, 242, 1);
  --lightBlack: rgba(143, 143, 143, 1);
  --light: rgba(242, 242, 242, 1);
  --lightBlue: rgba(59, 163, 221, 1);
  --formBg: rgba(230, 247, 255, 0.5);
  --navy: rgba(19, 61, 122, 1);
  --btn: #486284;
}
body{

  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');



body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  height: 100%;
}
